html { height: 100%; overflow:auto; }
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #87CEEB;
}

canvas {
    background-color: #87CEEB;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.controls button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 5px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.controls button:hover {
    background-color: #0056b3;
}

body.no-scroll { 
    overflow: hidden; /* Disabilita lo scroll */ 
}

@media only screen and (max-width: 600px) {
    canvas {
        width: 100%;
    }
    .controls button {
        padding: 10px 20px;
        font-size: 1em;
    }
}